@charset "UTF-8";

.body-content {
	grid-gap: 50px;
}

.content-side a:hover {
	color: yellowgreen;
}

.content-desc {
	font-size: x-large;
}

.content-desc * {
	display: inline-block;
}

.category-list, .sub-category-list, .pagination {
	margin-block: 0;
}

.category-list li, .sub-category-list li, .pagination li {
	display: inline-block;
	margin-block: 5px;
	margin-inline: 10px;
	margin-inline-start: 0;
}

.pagination {
	text-align: center !important;
}

.pagination li {
	margin-inline: 20px;
}

.pagination li:first-child {
	color: #04AA6D !important;
}

.category-list li a:hover, .sub-category-list li a:hover, .clinic-info a:hover,
	.pagination li a:hover {
	color: yellowgreen;
}

.category-list-item {
	margin-inline-start: 0;
	font-size: larger;
}

.category-list, .sub-category-list, .content-main {
	display: none;
}

.info-list * {
	margin-block: 0;
}

.clinic-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	grid-gap: 20px;
}

.clinic-info div:first-child {
	grid-column: 1/3;
}

.clinic-info div:nth-child(2) {
	text-align: right;
}

.clinic-info * {
	margin-block: 5px;
}

.content-bottom {
	display: grid;
	place-content: center;
}