@charset "UTF-8";

.body-content {
	padding: 50px;
	display: grid;
	place-content: center;
}

.body-content a {
	text-decoration: none;
	color: black;
}

.body-content * {
	display: block;
	margin: 0;
	margin-block: 20px;
	margin-block-start: 0;
	padding: 0;
}

.content-side a:hover {
	color: yellowgreen;
}

.content-desc {
	font-size: x-large;
}

.content-desc * {
	display: inline-block;
}

.category-list, .sub-category-list, .pagination {
	margin-block: 0;
}

.sub-category-list {
	max-width: 1000px;
}

.category-list li, .sub-category-list li, .pagination li {
	display: inline-block;
	margin-block: 5px;
	margin-inline: 10px;
	margin-inline-start: 0;
}

.pagination {
	text-align: center !important;
}

.pagination li {
	margin-inline: 20px;
}

.pagination li:first-child {
	color: #04AA6D !important;
}

.category-list li a:hover, .sub-category-list li a:hover, .clinic-info a:hover,
	.pagination li a:hover {
	color: yellowgreen;
}

.category-list-item {
	margin-inline-start: 0;
	font-size: larger;
}

.category-list, .sub-category-list, .content-main {
	display: none;
}

.info-list * {
	margin-block: 20px;
}

.clinic-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.clinic-info *:first-child {
	grid-column: 1/span 2;
	max-width: 600px;
}

.clinic-info * {
	margin-block: 5px;
}

.content-bottom {
	display: grid;
	place-content: center;
	max-width: 1000px;
}