@charset "UTF-8";

.main-content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	margin-top: 100px;
}

.body-content {
	width: 80%;
}

.body-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: stretch;
	grid-gap: 10px;
	place-content: center;
}

.content-top {
	grid-column: 1/2;
}

.content-main {
	grid-column: 2/4;
}

.body-content a {
	text-decoration: none;
	color: black;
}

.body-content * {
	display: block;
	margin: 0;
	margin-block: 20px;
	margin-block-start: 0;
	padding: 0;
}

.content-side a:hover {
	color: yellowgreen;
}

.content-desc {
	font-size: x-large;
}

.content-desc * {
	display: inline-block;
}

.sub-category-desc {
	font-size: large;
}

.category-list, .sub-category-list {
	display: none;
}

.category-list-item {
	margin-inline-start: 0;
	font-size: larger;
}

.sub-category-list li {
	font-size: large;
	transform: translateX(5%);
}

.content-main {
	display: none;
	max-width: 1200px;
}

.content-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-auto-rows: minmax(100px, auto);
	grid-column-gap: 10px;
	margin-block: 0;
}

.content-gallery figure * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-block: 0;
}

.content-gallery__img {
	width: 100%;
	object-fit: cover;
}

.content-gallery__caption {
	transform: translateY(-40px);
	height: 40px !important;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.content-gallery-continue {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 30px;
	transform: 0;
	color: black;
	grid-column-start: 1;
	grid-column-end: 4;
}

.content-gallery-continue:hover {
	color: yellowgreen;
}

.content-gallery-continue:hover, .content-gallery figure:hover {
	cursor: pointer;
}

.content-gallery#continue {
	display: none;
}