@charset "UTF-8";

.main-content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	margin-top: 100px;
}

.body-content, .comment-area {
	width: 80%;
}

.body-content a, .comment-area a, .menu-area a {
	text-decoration: none;
	color: black;
}

.body-content * {
	display: block;
	margin: 0;
	margin-block: 20px;
	margin-block-start: 0;
}

.body-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);;
	grid-gap: 20px;
}

.content-right {
	align-self: center
}

.content-left p {
	font-size: large;
}

.content-desc {
	font-size: x-large !important;
}

.content-item-desc {
	font-size: small !important;
	color: darkgray;
}

.content-image img {
	width: 100%;
}

.content-item-description {
	font-size: medium !important;
}

.menu-area a {
	font-size: large;
	font-weight: bold;
}

.menu-area a:hover, .content-item a:hover {
	color: yellowgreen;
	font-weight: bold;
}

.comment-area * {
	margin-block: 10px;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.comment-write {
	width: 100%;
}

.comment-write * {
	margin-inline: 5px;
	margin-inline-start: 0;
}

.comment-write textarea {
	height: 50px;
	border: none;
	resize: none;
}

.comment-write input[type="submit"] {
	width: 100px;
	height: 50px;
	border: 0;
	border-radius: 1mm;
	transition: 0.5s;
}

.comment-write input[type="submit"]:hover {
	cursor: pointer;
	background-color: yellowgreen;
	color: white;
}

.comment-list {
	display: block;
}

.comment-list * {
	margin-block: 5px;
}

.food {
	margin-block: 0;
}

.food b {
	font-size: large;
}