@charset "UTF-8";

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.body-content, .comment-area {
	width: 80%;
	max-width: 1600px;
}

.body-content a, .comment-area a, .menu-area a {
	text-decoration: none;
	color: black;
}

.body-content * {
	display: block;
	margin: 0;
	margin-block: 20px;
	margin-block-start: 0;
}

.body-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);;
	grid-gap: 100px;
}

.content-right {
	align-self: center
}

.content-left p {
	font-size: large;
}

.content-desc {
	font-size: x-large !important;
}

.content-item-desc {
	font-size: small !important;
	color: darkgray;
}

.content-image img {
	width: 100%;
}

.content-item-description {
	font-size: medium !important;
}

.content-food-list {
	margin-block: 0;
}

.content-food-list b {
	font-size: large;
}

.menu-area a {
	font-size: large;
	font-weight: bold;
}

.menu-area a:hover, .content-item a:hover {
	color: yellowgreen;
	font-weight: bold;
}
/* 댓글 영역 */
.comment-area * {
	margin-block: 20px;
	vertical-align: middle;
}

/* 댓글 작성 */
.comment-write {
	display: grid;
	width: 100%;
	border: 1px solid gainsboro;
}

.comment-write * {
	margin-inline: 0 !important;
}

.comment-write textarea {
	width: 98%;
	height: 50px;
	border: none;
	resize: none;
	font-size: medium;
	padding: 5px;
	justify-self: center;
}

.comment-write div {
	border-top: 1px solid gainsboro;
	margin-block: 0;
}

.comment-write div button {
	float: right;
	padding: 10px 20px;
	margin-block: 0;
	border: 0;
}

.comment-write div button:hover, .comment-write input[type="button"]:hover
	{
	cursor: pointer;
	background-color: gainsboro;
}

.comment-write input[type="button"] {
	width: 100px;
	height: 50px;
	border: 0;
	font-size: medium;
	justify-self: end;
	margin-block: 0;
}

/* 댓글 목록 */
.comment-list * {
	margin-block: 5px;
}

/* 댓글 */
.comment-item, .comment-item-content {
	display: grid;
}

.comment-item-info span:first-child {
	font-weight: bold;
}

.comment-item-info span:last-child {
	font-size: small;
}

.comment-item-manage {
	justify-self: end;
}

.comment-item div * {
	margin-inline: 20px;
	margin-inline-start: 0;
}

.comment-item-modify:hover, .comment-item-delete:hover {
	cursor: pointer;
}