<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="src/main/resources/mapper/BoardMapper.xml">

    <!--입력-->
    <insert id="create">
        INSERT INTO COMM_POST (
            title
            , content
            , user_no
            , fifle
        ) VALUES (
            #{post_title}
            ,#{user_no}
            , #{post_content}
            , #{fifle}
        )
    </insert>
    
    <!--조회-->
    <select id="read" resultType="BoardVO">
        SELECT *
        FROM COMM_POST
        WHERE post_no = #{post_no}
    </select>

    <!--수정-->
    <update id="update">
        UPDATE COMM_POST
        SET
            title     = #{post_title}
            , content = #{post_content}
        WHERE post_no = #{post_no}
    </update>

    <!--삭제-->
    <delete id="delete">
        DELETE FROM COMM_POST
        WHERE post_no = #{post_no}
    </delete>

    <!--목록-->
    <select id="list" resultType="BoardVO">
        SELECT
            post_no 
            , post_title
            , post_content
            , user_no
            , REGDATE
            , post_view
        FROM COMM_POST
        WHERE post_no > 0
        ORDER BY post_no DESC, REGDATE DESC
    </select>
</mapper>