<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.member">
	<select id="selectList" parameterType="map" resultType="userDto">
		SELECT
		*
		FROM
		(SELECT ROWNUM AS POSTNO, C.* FROM (SELECT USER_NO, USER_ID,
		USER_NAME, BIRTH, PHONE, EMAIL, ENABLED_YN, USER_TYPE FROM CARE_USER
		ORDER BY
		USER_NO) C)
		WHERE POSTNO BETWEEN #{start} AND #{end} ORDER BY
		POSTNO
	</select>
	<select id="getCnt" resultType="int">
		SELECT COUNT(*) FROM CARE_USER
	</select>
	<update id="enable">
		UPDATE CARE_USER SET ENABLED_YN='Y' WHERE USER_NO =
		#{user_no}
	</update>
	<update id="disable">
		UPDATE CARE_USER
		SET ENABLED_YN = 'N'
		WHERE USER_NO =
		#{user_no}
	</update>
	<update id="updatePwd" parameterType="userDto">
		UPDATE CARE_USER SET
		USER_PW = #{user_pw}
		WHERE USER_NO = #{user_no}
	</update>
	<select id="selectByNo" resultType="userDto" parameterType="int">
		SELECT * FROM CARE_USER WHERE
		USER_NO = #{user_no}
	</select>
	<select id="searchByKeyword" parameterType="map"
		resultType="userDto">
		SELECT
		*
		FROM
		(SELECT ROWNUM AS POSTNO, C.* FROM (SELECT
		USER_NO, USER_ID,
		USER_NAME, BIRTH, PHONE, EMAIL, ENABLED_YN, USER_TYPE
		FROM CARE_USER WHERE USER_NAME LIKE '%${keyword}%' OR USER_ID
		LIKE
		'%${keyword}%' OR EMAIL
		LIKE '%${keyword}%' ORDER BY
		USER_NO) C)
		WHERE
		POSTNO BETWEEN #{start} AND
		#{end} ORDER BY
		POSTNO
	</select>
	<select id="searchByEnabled" parameterType="map"
		resultType="userDto">
		SELECT
		*
		FROM
		(SELECT ROWNUM AS POSTNO, C.* FROM (SELECT
		USER_NO, USER_ID,
		USER_NAME, BIRTH, PHONE, EMAIL, ENABLED_YN, USER_TYPE
		FROM CARE_USER WHERE ENABLED_YN = 'Y'
		ORDER BY USER_NO) C)
		WHERE
		POSTNO
		BETWEEN #{start}
		AND
		#{end} ORDER BY
		POSTNO
	</select>
	<select id="getCntByEnabled" resultType="int">
		SELECT COUNT(*) FROM
		CARE_USER WHERE ENABLED_YN = 'Y'
	</select>
	<select id="getCntByKeyword" resultType="int">
		SELECT COUNT(*) FROM
		CARE_USER WHERE USER_NAME LIKE '%${keyword}%' OR USER_ID
		LIKE
		'%${keyword}%' OR EMAIL LIKE '%${keyword}%'
	</select>

	<!-- 관리자 통계용 -->
	<select id="getStatMYMEAL"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		MY_MEAL
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
	<select id="getStatMYEXER"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		MY_EXERCISE
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
	<select id="getStatMYVISIT"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		MY_VISIT
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
	<select id="getStatMYPILLS"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		MY_PILLS
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
	<select id="getStatMCOMMENT"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		MEAL_COMMENT
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
	<select id="getStatSCOMMENT"
		resultType="com.yee.carebank.model.dto.StatDto">
		SELECT *
		FROM (
		SELECT
		COUNT(*) AS CNT,
		USER_NAME,
		USER_ID
		FROM
		SUPPLE_COMMENT
		JOIN
		CARE_USER
		USING(USER_NO)
		WHERE
	<![CDATA[
		REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		]]>
		GROUP BY
		(USER_ID,
		USER_NAME)
		ORDER BY
		COUNT(*) DESC
		)
		WHERE ROWNUM BETWEEN
		1 AND 5
	</select>
</mapper>