<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="exercise">
 
  
  <resultMap type="exerciseDto" id="exerciseMap">
  	<result property="exer_id" column="EXER_ID"/>
  	<result property="exer_name" column="EXER_NAME"/>
  	<result property="exer_type" column="EXER_TYPE" />
  	<result property="exer_description" column="EXER_DESCRIPTION" />
  	<result property="subcat_id" column="SUBCAT_ID" />
  	<result property="type_id" column="TYPE_ID" />
  	<result property="exer_thum" column="EXER_THUM" />
  	<result property="exer_title" column="EXER_TITLE" />
  	<result property="exer_timer" column="EXER_TIMER" />
  	<result property="exer_notice" column="EXER_NOTICE" />
  	<result property="exer_video_url" column="EXER_VIDEO_URL" />
  	<result property="exer_date" column="EXER_DATE" />
  	<result property="exer_tm_url" column="EXER_TM_URL" /> 
  </resultMap>
  
  <select id="selectList" resultMap="exerciseMap">
  	SELECT *
  	FROM EXERCISE
  </select>
  
    	<select id="selectOne" resultMap="exerciseMap">
		SELECT *
		FROM EXERCISE
		WHERE EXER_ID = #{exer_id}
	</select>
	 
  </mapper>