<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace = "faq">
	
	<resultMap type="faqDto" id="faqMap">
		<result property = "faqno" column = "FAQNO"/>
		<result property = "faqtitle" column = "FAQTITLE"/>
		<result property = "faqcontent" column = "FAQCONTENT"/>
	</resultMap>
	
	<select id = "selectList" resultMap = "faqMap">
		SELECT FAQNO, FAQTITLE, FAQCONTENT
		FROM FAQ
		ORDER BY FAQNO DESC
	</select>
	
	<insert id="insertList" parameterType = "faqDto">
		INSERT INTO FAQ
		VALUES(FAQNO.NEXTVAL, #{faqtitle}, #{faqcontent})
	</insert>
	
	<update id = "updateList" parameterType = "faqDto">
		UPDATE FAQ
		SET FAQTITLE = #{faqtitle}, FAQCONTENT = #{faqcontent}
		WHERE FAQNO = #{faqno}
	</update>
	
	<delete id = "deleteList" parameterType = "int">
		DELETE FROM FAQ
		WHERE FAQNO = #{faqno}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	</mapper>
	