<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meals">
	<select id="selectList" resultType="mealDto" parameterType="int">
		SELECT MEAL_NAME, SRC, SUBCAT_ID FROM (
		SELECT ROWNUM RN, M.* FROM (
		SELECT DISTINCT MEAL_NAME, SRC, SUBCAT_ID FROM MEALS WHERE SUBCAT_ID =
		${subcat_id} ORDER BY SUBCAT_ID) M)
	</select>
</mapper>