<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meals">
	<select id="selectMeal" resultType="mealDto" parameterType="int">
		SELECT DISTINCT * FROM MEAL WHERE SUBCAT_ID = ${subcat_id}
	</select>
	<select id="selectFood" resultType="String" parameterType="int">
		SELECT DISTINCT FOOD FROM MEAL JOIN INGREDIENT USING(MEAL_ID,
		SUBCAT_ID) WHERE SUBCAT_ID = ${subcat_id}
	</select>
	<select id="selectCategory" resultType="String"
		parameterType="int">
		SELECT SUBCAT_NAME FROM CATEGORY WHERE SUBCAT_ID =
		${subcat_id}
	</select>
	<select id="selectOne" resultType="mealDto" parameterType="int">
		SELECT *
		FROM MEAL
		WHERE MEAL_ID = ${meal_id}
	</select>
	<select id="selectIngredient" resultType="foodDto"
		parameterType="int">
		SELECT FOOD, DESCRIPTION, CARBO, PROTEIN, FAT, CALORIES
		FROM (MEAL JOIN INGREDIENT i USING(MEAL_ID, SUBCAT_ID)) JOIN NUTRIENT
		n USING(FOOD)
		WHERE MEAL_ID = ${meal_id}
	</select>
	<select id="selectCatList" resultType="Integer">
		SELECT DISTINCT SUBCAT_ID
		FROM MEAL ORDER BY SUBCAT_ID
	</select>
	<select id="selectRandom" resultType="mealDto"
		parameterType="int">
		SELECT MEAL_PREFER.* FROM (SELECT MEAL_ID, MEAL_NAME,
		SRC FROM MEAL
		JOIN PREFERENCES p USING(SUBCAT_ID) WHERE USER_NO = ${user_no}
		ORDER BY
		dbms_random.value) MEAL_PREFER 
		<![CDATA[WHERE ROWNUM <= 5]]>
	</select>
	<select id="selectByComment" resultType="mealDto">
		SELECT MEAL_CNT_TB.*
		FROM (
		SELECT MEAL_ID, MEAL_NAME,SRC
		FROM MEAL LEFT
		OUTER JOIN (
		SELECT MEAL_ID, COUNT(MEAL_ID) AS MEAL_CNT
		FROM
		MEAL_COMMENT
		WHERE REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
		GROUP BY
		MEAL_ID
		) USING(MEAL_ID) ORDER BY MEAL_CNT DESC NULLS LAST
		)
		MEAL_CNT_TB
		<![CDATA[ WHERE ROWNUM <= 5]]>
	</select>
	<select id="selectPreferCat" resultType="int"
		parameterType="int">
		SELECT SUBCAT_ID FROM PREFERENCES p
		WHERE USER_NO
		=${user_no}
	</select>
	<select id="selectNutrient" parameterType="String" resultType="foodDto">
		SELECT *
		FROM NUTRIENT
		WHERE FOOD = '${food}'
	</select>
</mapper>