<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="meditation">
 
  
  <resultMap type="MeditationDto" id="meditationMap">
  	<result property="meditate_id" column="MEDITATE_ID"/>
  	<result property="subcat_id" column="SUBCAT_ID"/>
  	<result property="med_title" column="MED_TITLE"/>
  	<result property="med_thum" column="MED_THUM"/>
  	<result property="med_url_play" column="MED_URL_PLAY"/>
  	<result property="med_url_playlist1" column="MED_URL_PLAYLIST1"/>
  	 
  </resultMap>
  
  <select id="selectList" resultMap="meditationMap">
  	SELECT  MEDITATE_ID,MED_TITLE,MED_THUM
  	FROM MEDITATION
  </select>
  
  	<select id="selectOne" resultMap="meditationMap">
		SELECT *
		FROM MEDITATION
		WHERE MEDITATE_ID = #{meditate_id}
	</select>
	 
  
  </mapper>