<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "mood">
  
  	<resultMap type="MoodDto" id="MoodMap">
  		<result property="user_no" column="USER_NO" />
  		<result property="mood" column="MOOD" />
  		<result property="regdate" column="REGDATE" />
  	</resultMap>
  	
  	<insert id="insert" parameterType="MoodDto">
  		INSERT INTO MY_MOOD
  		VALUES(#{user_no}, #{mood}, #{regdate})
  	</insert>
  	
  </mapper>