<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="myexercise">
 
  
  <resultMap type="myexerciseDto" id="myexerciseMap">
  	<result property="exer_id" column="EXER_ID"/>
  	<result property="user_no" column="USER_NO"/>
  	<result property="regdate" column="REGDATE" /> 
  </resultMap>
  
  <select id="selectList" resultMap="myexerciseMap">
  	SELECT *
  	FROM MY_EXERCISE
  </select>
   
  </mapper>