<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="myexercise">
   
    
  
  <resultMap type="myexerciseDto" id="myexerciseMap">
  	<result property="exer_id" column="EXER_ID"/> 
  	<result property="user_no" column="USER_NO"/> 
  	<result property="regdate" column="REGDATE"/> 
  	<result property="exer_count" column="EXER_COUNT"/> 
  	
  </resultMap>

<select id="selectList" parameterType="int" resultType="myexerciseDto">
     	SELECT 
     	MY_EXERCISE.EXER_ID,MY_EXERCISE.USER_NO,MY_EXERCISE.REGDATE,MY_EXERCISE.EXER_COUNT,CARE_USER.USER_NO
     	FROM MY_EXERCISE
     	INNER JOIN CARE_USER 
     	ON MY_EXERCISE.USER_NO=CARE_USER.USER_NO
     	<!-- WHERE MY_EXERCISE.USER_NO='1000'-->
     	WHERE MY_EXERCISE.USER_NO=${user_no}
</select>  
  
	<insert id="insert" parameterType="myexerciseDto">
		INSERT INTO MY_EXERCISE
		VALUES (#{exer_id},#{user_no},TO_CHAR(SYSDATE,'YYYY-MM-DD'),#{exer_count})
	</insert> 
	
  </mapper>