<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mymeal">
	<insert id="insert"
		parameterType="com.yee.carebank.model.dto.MyMealDto">
		INSERT INTO MY_MEAL
		VALUES(RECORD_SEQ.NEXTVAL, #{user_no}, #{meal_name}, #{meal_time}, #{regdate})
	</insert>
</mapper>
