<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "visit">
  
  	<resultMap type="scheduleDto" id="scheduleMap">
  		<result property="hospital_no" column="HOSPITAL_NO" />
  		<result property="user_no" column="USER_NO" />
  		<result property="hospital_name" column="HOSPITAL_NAME" />
  		<result property="regdate" column="REGDATE" />
  		<result property="resdate" column="RESDATE" />
  		<result property="memo" column="MEMO" />
  	</resultMap>
  
  	<select id="selectList" resultMap="scheduleMap">
  		SELECT * FROM MY_VISIT
  	</select>
  	
  	<insert id="insert" parameterType="scheduleDto">
  		INSERT INTO MY_VISIT 
  		VALUES(hospitalnoseq.nextval, #{user_no}, #{hospital_name}, #{regdate}, #{resdate}, #{memo})
  	</insert>
  	
  	<update id="update" parameterType="scheduleDto">
  		UPDATE MY_VISIT
  		SET HOSPITAL_NAME = #{hospital_name}, RESDATE = #{resdate}, MEMO = #{memo}
  		WHERE HOSPITAL_NO = ${hospital_no} 
  	</update>  	
  	
  	<select id="selectOne" parameterType="int" resultMap="scheduleMap">
  		SELECT * FROM MY_VISIT
  		WHERE HOSPITAL_NO = ${hospital_no}
  	</select>
  	
  	<delete id="delete" parameterType="scheduleDto">
  		DELETE FROM MY_VISIT
  		WHERE HOSPITAL_NO = ${hospital_no}
  	</delete>  	
  	
  </mapper>