<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="tmmeal">

	<select id="selectList" parameterType="int"
		resultType="TmMealDto">
		SELECT * FROM TM_MEAL JOIN MY_MEAL USING(MEAL_NAME)
	</select>
	<select id="selectTM" parameterType="int" resultType="TmMealDto">
		SELECT *
		FROM MY_MEAL JOIN TM_MEAL
		USING(MEAL_NAME) WHERE USER_NO = #{user_no} AND REGDATE >=
		TO_CHAR(SYSDATE-7, 'YYYYMMDD')
	</select>


</mapper>